.hero-row > .logo{
display: inline-block;
margin-bottom: 40px;
height: 35px;
}

.hero-row > h1 {
display: inline-block;
width:100%;
margin-bottom: 15px;
text-transform: uppercase;
font-size: 40px;
line-height: 40px;
font-family: 'Work Sans', sans-serif;
}
.hero-row > p{
display: inline-block;
width:100%;
margin-bottom: 40px;
color: #ACABBD;
font-size: 22px;
line-height: 25px;
font-family: 'Raleway', sans-serif;
}
.hero-row > .laikrodis {
display: inline-block;
width: 90%;
margin: 40px 5%;
}
.hero-row > form{
display: inline-block;
width: 90%;
margin: 0 5%;
}
.hero-row > .pelius{
display: inline-block;
margin-top: 15px;
}

.content  h3 {
display: inline-block;
width: 100%;
text-transform: uppercase;
font-size: 25px;
line-height: 20px;
}

.content p {
    width: 100%;
    display: inline-block;
    margin: 20px 0;
    font-size: 15px;
    line-height: 20px;
    color: #ACABBD;
}

.content p > a {
    color:#EA1E63;
    text-decoration: none;
}