.hero-row > .logo{
display: inline-block;
margin-bottom: 40px;
}

.hero-row > h1 {
display: inline-block;
width:100%;
margin-bottom: 15px;
}
.hero-row > p{
display: inline-block;
width:100%;
margin-bottom: 40px;
}
.hero-row > .laikrodis {
display: inline-block;
width: 90%;
margin: 40px 5%;
}
.hero-row > form{
display: inline-block;
width: 90%;
margin: 0 5%;
}
.hero-row > .pelius{
display: inline-block;
margin-top: 15px;
}