/*MESSAGE FORMA*/
form{
    display: inline-block;
    width: 100%;
  
}
    form > input,
    form > textarea {
        display: inline-block;
        width: 100%;
        float: left;
        margin-bottom: 30px;
        font-size: 15px;
        line-height: 20px;
        padding-bottom: 6px;
        color: #B0B1B6;
        border-top: none; border-left: none; border-right: none;     
}
    form > textarea{
        resize: vertical;
        min-height: 100px;
        max-height: 300px;
        padding-bottom: 0;
}
form > input::placeholder{
    color: white;
}
form :focus {
    outline: none;
}
form > .btn{
display: inline-block;
background-color: #EA1E63;
color: white;
font-size: 15px;
line-height: 20px;
padding: 10px 20px;
border-radius: 2px;
box-shadow: 0px 1px 4px #0005;
cursor: pointer;
transition: all 0.3s;
text-transform: capitalize; 
margin: 20px 0;
}
    .btn:hover {
        box-shadow: 0px 1px 2px #000a;
        background-color: #f70958;
}

@media (min-width: 1100px){     
form > input {
    width: 45%;
}

@media (min-width: 1100px){     
    form > input:nth-of-type(2) {
        width: 45%;
        margin-left: 10%;
    }

