.progress-barr {
    width: 100%;
    display: inline-block;
    margin-bottom:20px;
}

.progress-barr:nth-of-type(3) {
    margin-bottom: 0;
}

.progress-barr > .tekstai {
    display: inline-block;
    width:100%;
    color: #B0B1B6;
    font-size: 15px;
    line-height: 20px;

}
    .progress-barr > .tekstai > .label {
    display: inline-block;
    float:left;
    text-transform: capitalize;
    
}
    .progress-barr > .tekstai > .value {
    display: inline-block; 
    float: right;
}

.progress-barr > .bar {
    display: inline-block;
    width: 100%;
    height: 4px;
    background-color: #EDEDED;
    margin-top: 15px;

   
}
.progress-barr > .bar > .value {
    display: inline-block;
    height:100%;
} 
.progress-barr > .bar > .value > .loading {
    display: inline-block;
    width: 100%;
    background-color: #00A5F3;
    height:100%;
    animation-name: kraunasi;
    animation-duration: 4s;
    animation-iteration-count: 1;
    animation-delay: 1s;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-play-state: running;

    
}

@keyframes kraunasi {
0%{
width: 0;
}
100%{
width: 100%;
}
}
